{% extends "base.html" %}

{% block announce %}
<a href="https://medium.com/cirruslabs/new-macos-task-execution-architecture-for-cirrus-ci-604250627c94">
  🍏🍏🍏&nbsp&nbspAnnouncing <strong>new architecture</strong> of macOS task execution on Cirrus CI&nbsp;&nbsp;🍏🍏🍏
</a>
{% endblock %}

<!-- Render landing page under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- landing page for landing page -->
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-landing">

        <!-- landing image -->
        <div class="tx-landing__image">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player id="lottieAnimation" background="transparent"
                         style="max-width: 100%; height: auto;"
                         speed="1" loop autoplay>
          </lottie-player>
          <script>
            let randomAnimationIndex = Math.floor(Math.random() * 4) % 4;
            let animation = document.getElementById("lottieAnimation");
            animation.load("assets/animations/"+ randomAnimationIndex + ".json");
          </script>
        </div>

        <!-- landing content -->
        <div class="tx-landing__content">
          <h2>Make your development cycle <b>fast</b>, <b>efficient</b>, and <b>secure</b></h2>
          <p>Cirrus CI is a modern Continuous Integration system built for the era of cloud computing.</p>
          <p><a href="/guide/supported-computing-services">Bring your own infrastructure</a> or enjoy <a href="/pricing/#compute-credits">per-second billing</a> with <b>no concurrency limits</b> on infrastructure managed by us!</p>
          <p><b>Build your OSS projects on Linux, Windows, macOS and FreeBSD for free!</b></p>

          <a
            href="/features"
            title="Features"
            class="md-button"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
